.dashboard{
    display: block;
    width: 100%;
}
.dashboard_info{
    display: block;
    text-align: center;
    max-width: 400px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--secondary);
}
.dashboard_info_img{
    border-radius: 50%;
}
.dashboard_info_content{
    display: block;
}
.dashboard_info_name{
    display: block;
    margin-top: 1rem;
    font-family: var(--font-black);
    font-size: 1.3rem;
    color: var(--texColor);
}
.dashboard_info_status{
    display: block;
    margin-top: 1rem;
    font-family: var(--font-bold);
    font-size: 1.1rem;
    color: var(--textHover);
}

.dashboard_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary);
    padding:1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.dashboard_item_content{
    display: block;
}
.dashboard_item_number{
display: block;
font-family: var(--font-black);
font-size: 1.2rem;
}
.dashboard_item_title{
    display: block;
    margin-top: 1rem;
    font-family: var(--font-bold);
    font-size: 1.1rem;
}
.dashboard_item_icon{
    font-size: 3rem;
}