.info{
    display: block;
    width: 100%;
    margin-bottom: 2rem;
}
.info_wrapper{
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--secondary);
}
.info_account{
    display: block;
}
.info_account_items{
    display: block;
}
.info_account_item{
    display: block;
    width: 300px;
    padding: 1rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    background-color: var(--success);
}
.info_account_title{
    display: block;
    font-family: var(--font-black);
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--textHover);
}
.info_account_text{
    font-family: var(--font-bold);
    font-size: 1.1rem;
    font-weight: 600;
}

.info_change{
    display: block;
    width: 100%;
}
.info_change_wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.info_change_input{
    display: block;
    width: 100%;
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--success);
    font-family: var(--font-bold);
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--textHover);
    padding-right: 0.3rem;
}

.info_change_input::placeholder{
    font-family: var(--font-bold);
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--textHover);
    padding-right: 0.3rem;
}
.info_change_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 2.5rem;
    background-color: var(--textHover);
    outline: none;
    border: none;
    border-radius: 0.4rem;
    font-family: var(--font-bold);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--textColor);
}
.info_change_btn:hover{
    color: var(--textHover);
    background-color: var(--textColor);
}