.navBar{
    display: block;
    width: 100%;
    margin: 0.7rem 0;
}
.navbar_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_menu{
    display: flex;
    align-items: center;
}
.navbar_item{
    margin-right: 2rem;
}
.navbar_item_link{
    display: block;
    text-decoration: none;
    font-family: var(--font-bold) !important;
    font-size: 1.1rem;
    color: var(--textColor);
    transition: all 0.4s ease-in-out;
}
.navbar_item_link_active{
    display: block;
    text-decoration: none;
    font-family: var(--font-bold) !important;
    font-size: 1.1rem;
    color: var(--textHover);
}
.navbar_item_link:hover{
    color: var(--textHover);
}
.navbar_loginRegister{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.4rem 0.6rem;
    height: 2.5rem;
    background-color: var(--textHover);
    border-radius: 0.3rem;
    font-family: var(--font-bold);
    font-size: 1.1rem;
    color: var(--textColor);
    transition: all 0.4s ease-in-out;
}
.navbar_loginRegister:hover{
    background-color: var(--textColor);
    color: var(--textHover);
}

.navbarRes{
    display: block;
    width: 100%;
    margin: 0.7rem 0;

}
.navbarRes_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navbarRes_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: unset;
    font-size: 2.5rem;
    color: var(--textColor);
    transition: all 0.4s ease-in-out;
}
.navbarRes_btn:hover{
    color: var(--textHover);
}

.navbarRes_bg{
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary);
    position: absolute;
    top: -20rem;
    opacity: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: all 0.4s linear;
}
.navbarRes_bg_active{
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary);
    position: absolute;
    opacity: 1;
    top: 3rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: all 0.4s linear;
}

.navbarRes_menu{
    display: block;
}
.navbarRes_item{
    margin-bottom: 1rem;
}
.navbarRes_item_link{
    display: block;
    text-decoration: none;
    font-family: var(--font-bold) !important;
    font-size: 1.1rem;
    color: var(--textColor);
    transition: all 0.4s ease-in-out;
}
.navbarRes_item_link:hover{
    color: var(--textHover);
}