/* <<<< import file reset.css >>>> */
@import url(../styles/reset.module.css);
/* <<<< import file reset.css >>>> */

/* <<<< add font face  >>>> */
@font-face {
  font-family: danaRegular;
  font-weight: 500;
  src: url("/font/Dana-Regular.woff") format('woff');
}

@font-face {
  font-family: danaBold;
  src: url('/font/Dana-Bold.woff') format('woff');
}

@font-face {
  font-family: danaBlack;
  src: url('/font/Dana-Black.woff') format('woff');
}
/* <<<< add font face  >>>> */


/* <<<< root ==== variable >>>> */
:root{
  --font-regular : danaRegular;
  --font-bold : danaBold;
  --font-black : danaBlack;

  --textColor : #C1C6DE;
  --textHover : #1D8EF0;
  --primary : #1C212E;
  --secondary : #292F43;
  --success : #2E344B;
  --blackColor: #050507;
  --whiteColor : #FFFFFF;
  --grayColor : #36415B;
}
/* <<<< root ==== variable >>>> */

/* <<<< body >>>> */
body{
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: danaRegular !important;
  color: var(--textColor) !important;
  background-color: var(--primary) !important;
}
/* <<<< body >>>> */

/* <<<< Containers >>>> */
.containers{
  max-width: 95rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* <<<< Containers >>>> */


/* loginRegister  */
.loginRegister_title_text{
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}
.loginRegister_title{
  display: block;
  font-family: var(--font-bold);
  font-size: 1.8rem;
}
.loginRegister_text{
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--whiteColor);
}
.formBox{
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
}
.formBox_text{
  display: block;
  text-align: right;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--whiteColor);
  margin-bottom: 0.5rem;
}
.formBox_input{
  display: block;
  width: 100%;
  height: 3rem;
  background-color: unset;
  outline: none;
  border: 1px solid var(--whiteColor);
  border-radius: 0.4rem;
  padding-right: 0.4rem;
  font-family: var(--font-bold);
  font-size: 0.9rem;
  color: var(--whiteColor);
}
.formSubmit{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  width: 100%;
  height: 3rem;
  font-family: var(--font-bold);
  font-size: 1.1rem;
  color: var(--textColor);
  background-color: var(--textHover);
  border-radius: 0.5rem;
  transition: all 0.4s ease-in-out;
}
.formSubmit:hover{
  color: var(--textHover);
  background-color: var(--textColor);
}
/* loginRegister  */