/* <<<< import file reset.css >>>> */
@import url(../styles/reset.module.css);
/* <<<< import file reset.css >>>> */

/* <<<< add font face  >>>> */
@font-face {
  font-family: danaRegular;
  font-weight: 500;
  src: url("/font/Dana-Regular.woff") format('woff');
}

@font-face {
  font-family: danaBold;
  src: url('/font/Dana-Bold.woff') format('woff');
}

@font-face {
  font-family: danaBlack;
  src: url('/font/Dana-Black.woff') format('woff');
}
/* <<<< add font face  >>>> */


/* <<<< root ==== variable >>>> */
:root{
  --font-regular : danaRegular;
  --font-bold : danaBold;
  --font-black : danaBlack;

  --textColor : #C1C6DE;
  --textHover : #1D8EF0;
  --primary : #1C212E;
  --secondary : #292F43;
  --success : #2E344B;
  --blackColor: #050507;
  --whiteColor : #FFFFFF;
}
/* <<<< root ==== variable >>>> */

/* <<<< body >>>> */
body{
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: danaRegular !important;
  color: var(--textColor);
  background-color: var(--primary);
}
/* <<<< body >>>> */
