.basket{
    display: block;
    width: 100%;
    margin-top: 5rem;
}
.basket_wrapper{
    display: block;
    width: 100%;
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
}

.basket_form{
    display: block;
    width: 100%;
}
.basket_formBox{
    display: block;
    margin-bottom: 1.5rem;
}
.basket_formBox_text{
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
}
.basket_formBox_input{
    display: block;
    width: 100%;
    height: 2.2rem;
    margin-top: 0.7rem;
    background-color: unset;
    outline: none;
    border: 1px solid var(--grayColor);
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--textColor);
    padding-right: 0.5rem;
}
.basket_text_alert{
    display: block;
    text-align: center;
    width: 100%;
    font-family: var(--font-black);
    font-size: 1.5rem;
    color: var(--textHover);
}
.basket_alert{
    display: block;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
    font-family: var(--font-black);
    font-size: 1.5rem;
    color: var(--textHover) 
}
.basket_empty{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.basket_empty_text{
    display: block;
    font-family: var(--font-black);
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--textHover);
}
.basket_empty_link{
    display: block;
    color: var(--textColor);
    transition: all 0.4s ease-out;
}
.basket_empty_link:hover{
    color: var(--textHover);
}
.basket_items{
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.basket_item{
    display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1rem;
    width: 180px;
    height: 4rem;
    padding: 0.5rem;    
    background-color: var(--success);
}
.basket_item:first-child{
    margin-left: 1rem;
}
.basket_item_img{
    width: 120px;
    height: 50px;
}
.basket_item_title{
    display: block;
    font-family: var(--font-bold);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--textColor);
}
.basket_item_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 2.5rem;
    outline: none;
    border: none;
    color: var(--whiteColor);
    background-color: red;
    border-radius: 0.4rem;
    transition: all 0.4s ease;
}
.basket_item_btn:hover{
    opacity: 0.7;
}
.basket_item:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
     height: 4rem;
     padding: 0.5rem;    
     background-color: var(--success);
}
.basket_item_txt{
    display: block;
    font-family: var(--font-bold);
    font-size: 1.1rem;
    font-weight: 600;
}
.basket_item_text{
    display: block;
}

.basket_pay{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--textHover);
    font-family: var(--font-bold);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--textColor);
    transition: all 0.4s ease-out;
}
.basket_pay:hover{
    background-color: var(--textColor);
    color: var(--textHover);
}